:root{
    --bg-default: rgb(39, 36, 44);
    --bg-destaque: rgb(61, 58, 65);
    --bg-barra-default: white;
}

*{
    font-family: 'Asap', sans-serif; 
}

html, body{
    height: 99%;
    background-color: var(--bg-default);
}
#container{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#players{
    margin-bottom: 10px;
    width: 480px;
    height: 100px;
    background-color: var(--bg-destaque);

    display: flex;
    align-items: center;
    justify-content: space-around;
}
#players p{
    width: auto;
    height: auto;
    font-size: 4em;

    text-align: center;
}
#players #human{
    width: 100px;
    height: 80px;
    border-radius: 25px;
    
    background: transparent url(https://images.emojiterra.com/google/android-10/512px/1f468-1f3fe-1f9b1.png) center center no-repeat;
    background-size: 70%;
    border: 1px solid var(--bg-barra-default);
}
#players #ia{
    width: 100px;
    height: 80px;
    border-radius: 25px;

    background: transparent url(https://cdn-icons-png.flaticon.com/512/1126/1126923.png?w=360) center center no-repeat;
    background-size: 70%;
    border: 1px solid var(--bg-barra-default);
}
#players div#ia.playingNow, #players div#human.playingNow{
    background-color: green;
}
#jogo-velha{
    height: auto;
    width: 480px;
    background-color: var(--bg-destaque);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#jogo-velha span.button{
    display: block;

    margin: 5px;
    width: 120px;
    height: 120px;
   /*  border: 1px solid orange; */
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 10em;
}
#jogo-velha div.barra-horizontal{
    width: 80%;
    height: 5px;
    border-radius: 25px;
    background-color: var(--bg-barra-default);
}
#jogo-velha div#barra-vertical-1{
    width: 80%;
    height: 5px;
    border-radius: 25px;
    background-color: var(--bg-barra-default);


    position: relative;
    transform: rotate(90deg);
    top: 200px;
    left: -65px;
}
#jogo-velha div#barra-vertical-2{
    width: 80%;
    height: 5px;
    border-radius: 25px;
    background-color: var(--bg-barra-default);


    position: relative;
    transform: rotate(90deg);
    top: -205px;
    right: -65px;
}
#jogo-velha-win{
    height: 410px;
    width: 480px;
    
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);

    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
#jogo-velha-win button{
    background-color: aliceblue;
    border: transparent;
    border-radius: 50px;

    width: 100px;
    height: 40px;

    cursor: pointer;
}
#jogo-velha-fixed{
    height: 410px;
    width: 480px;
    
    position: fixed;
    display: none;
    z-index: 1;
}